<section class="contact">
  <div class="contact-inner">
    <section class="head">
      <p class="kicker">{{ "contact.kicker" | transloco }}</p>
      <h1 class="title">{{ "contact.title" | transloco }}</h1>
      <p class="subtitle">{{ "contact.subtitle" | transloco }}</p>
    </section>

    <section class="card">
      <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="field">
          <label>{{ "contact.form.name.label" | transloco }}</label>
          <input
            type="text"
            formControlName="name"
            [placeholder]="'contact.form.name.placeholder' | transloco"
          />
          <small
            *ngIf="form.controls.name.touched && form.controls.name.invalid"
          >
            {{ "contact.form.name.error" | transloco }}
          </small>
        </div>

        <div class="field">
          <label>{{ "contact.form.email.label" | transloco }}</label>
          <input
            type="email"
            formControlName="email"
            [placeholder]="'contact.form.email.placeholder' | transloco"
          />
          <small
            *ngIf="form.controls.email.touched && form.controls.email.invalid"
          >
            {{ "contact.form.email.error" | transloco }}
          </small>
        </div>

        <div class="field">
          <label>{{ "contact.form.message.label" | transloco }}</label>
          <textarea
            rows="5"
            formControlName="message"
            [placeholder]="'contact.form.message.placeholder' | transloco"
          ></textarea>
          <small
            *ngIf="
              form.controls.message.touched && form.controls.message.invalid
            "
          >
            {{ "contact.form.message.error" | transloco }}
          </small>
        </div>

        <button class="btn" type="submit">
          {{ "contact.form.submit" | transloco }}
        </button>

        <p class="success" *ngIf="sent()">
          {{ "contact.success" | transloco }} ✉️
        </p>
      </form>
    </section>
  </div>
</section>
